<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改密码 </title>
    <meta name="renderer" content="webkit">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/css/layui.css" media="all">
    <link rel="shortcut icon" href="../../../static/images/logo_ico_128_128.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="../../../static/css/main.css">
    <script src="../../../static/js/jquery-3.0.0.min.js"></script>
    <script src="../../../static/js/upload_picture.js"></script>
    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        #my_div {
            text-align: right;

        }

        body {
            /* background-color: rgb(214,214,214);*/

        }
    </style>
</head>
<body>

{% include 'index/nav.html' %}


<div style="float: left ;margin-left: 5%;width: 60%;">
    <span class="layui-breadcrumb">
     <span style="color: rgb(0,150,136)">您现在的位置是:  &nbsp;&nbsp;</span>
     <a href="back_index">首页</a>
    <a href="user_main_page">用户主页</a>
    <a><cite>修改密码</cite></a>
    <hr/>
</span>
    <br/>

    <blockquote class="layui-elem-quote" style="margin-top: 10px;">
        <div id="test2">修改密码</div>
    </blockquote>
    <br/>
    <div style="width: 50%">
        <form class="layui-form" action="change_password_process" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">原始密码</label>
                <div class="layui-input-block">
                    <input type="password" name="old_password" autocomplete="off" placeholder="请输入原始密码"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-block">
                    <input type="password" name="new_password" autocomplete="off" placeholder="请输入新密码"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" name="confirm_password" autocomplete="off" placeholder="请确认密码"
                           class="layui-input">
                </div>
            </div>
        </form>
        <div style="margin-left: 20%;width: 80%;">

            <button class="layui-btn layui-btn-fluid" id="change_password">修&nbsp;&nbsp;&nbsp;&nbsp;改</button>
        </div>


    </div>

</div>
<div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;display: none;">
    <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal" id="hint">居中弹出</button>
</div>
<script type="text/javascript" src="../../../static/layui/layui.js"></script>


<!-- -->
<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        {% comment %}  //监听导航点击
          element.on('nav(demo)', function(elem){
              //console.log(elem)
              layer.msg(elem.text());
          });{% endcomment %}
    });
</script>
<script type="text/javascript">
    layui.config({
        base: '../../static/js/util/'
    }).use(['element', 'laypage', 'form', 'menu'], function () {
        element = layui.element, laypage = layui.laypage, form = layui.form, menu = layui.menu;
        laypage.render({
            elem: 'demo'
            , count: 70 //数据总数，从服务端得到
        });
        menu.init();
        menu.off();
        menu.submit()
    })
</script>

<script>
    var hint_check = "";
    var hint = '{{ hint }}';
    {% if hint %}
        window.onload = function () {
          hint_check = hint;
           $("#hint").click();
        };
    {% endif %}
    $(document).ready(function () {
        $("#change_password").click(function () {
            var old_password = $("input[name='old_password']").val();
            var new_password = $("input[name='new_password']").val();
            var confirm_password = $("input[name='confirm_password']").val();

            if (old_password == "" || new_password == "" || confirm_password == "") {
                hint_check = "请将信息填写完整！";
                $("#hint").click();
                return;

            }
            if (new_password != confirm_password) {
                hint_check = "密码确认不一致！";
                $("#hint").click();
                return;

            }
            if (checkPassword(new_password)) {
                hint_check = "密码格式错误，请输入数字与字母组合长度为8-16位的密码！"
                $("#hint").click();
                return;
            }
            $("form").submit();


        });
    });
    function checkPassword(val) {
        var ex = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z_]{8,16}$/;
        if (!ex.test(val))
            return true;
        return false;
    }
</script>
<script type="text/javascript" src="../../../static/layui/layui.js"></script>

<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
<script type="text/javascript">
    layui.config({
        base: '../../static/js/util/'
    }).use(['element', 'laypage', 'form', 'menu'], function () {
        element = layui.element, laypage = layui.laypage, form = layui.form, menu = layui.menu;
        laypage.render({
            elem: 'demo'
            , count: 70 //数据总数，从服务端得到
        });
        menu.init();
        menu.off();
        menu.submit()
    })
</script>
<script>
    layui.use(['util', 'laydate', 'layer'], function () {
        var util = layui.util

            , layer = layui.layer;
        //固定块
        util.fixbar({
            bar1: false
            , bar2: '☺'
            //,bar2:'#icon-robot'
            , css: {right: 50, bottom: 100}
            , bgcolor: '#393D49'
            , click: function (type) {
                if (type === 'bar1') {
                    layer.msg('icon是可以随便换的')
                } else if (type === 'bar2') {
                    layer.msg('即将启动机器人...', {
                        time: 10000, //2s后自动关闭
                        btn: ['知道啦'],
                        btnAlign: 'c',
                        yes: function () {
                            $('#chat_bot').click();
                        }

                    });

                }
            }
        });
    });
</script>

<script>
    layui.use('layer', function () { //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {
            offset: function (othis) {
                var type = othis.data('type')
                    , text = hint_check;

                layer.open({
                    type: 1
                    , offset: type

                    , id: 'layerDemo' + type //防止重复弹出
                    , content: '<div style="padding: 20px 80px;">' + text + '</div>'
                    , btn: '确定'
                    , btnAlign: 'r' //按钮居右
                    , shade: 0 //不显示遮罩
                    , yes: function () {
                        if(text=='修改成功，请重新登录') {
                            window.location.href = "login_again";
                        }
                        layer.closeAll();
                    }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>
</body>
</html>