<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改头像</title>
    <meta name="renderer" content="webkit">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/css/layui.css" media="all">
    <link rel="shortcut icon" href="../../../static/images/logo_ico_128_128.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="../../../static/css/main.css">
    <script src="../../../static/js/jquery-3.0.0.min.js"></script>
    <script src="../../../static/js/upload_picture.js"></script>
    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        #my_div {
            text-align: right;

        }

        body {
            /* background-color: rgb(214,214,214);*/

        }
    </style>
</head>
<body>

{% include 'index/nav.html' %}


<div style="float: left ;margin-left: 5%;width: 60%;">
    <span class="layui-breadcrumb">
     <span style="color: rgb(0,150,136)">您现在的位置是:  &nbsp;&nbsp;</span>
     <a href="back_index">首页</a>
    <a href="user_main_page">用户主页</a>
    <a><cite>修改头像</cite></a>
    <hr/>
</span>
    <br/>

    <blockquote class="layui-elem-quote" style="margin-top: 10px;">
        <div id="test2">修改头像</div>
    </blockquote>
    <br/>
    <div style="width: 50%">
        <div id="preview">
            <img id="imghead" border=0 src="../../../static/images/unloading.jpg" width="180" height="180"/>
        </div>
        <br/>
        <form action="change_user_img_process" method="post" enctype="multipart/form-data">
            <input type="file" name="user_img" onchange="previewImage(this)"/>
        </form>


        <div style="width: 17%;margin-top: 6%;">

            <button class="layui-btn layui-btn-fluid" id="change_user_img">确&nbsp;&nbsp;&nbsp;&nbsp;定</button>
        </div>


    </div>

</div>
<!-- 提示框居中弹出 -->
<div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;display: none;">
    <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal" id="hint">居中弹出</button>
</div>
<script type="text/javascript" src="../../../static/layui/layui.js"></script>




<script>
    var hint_check = "";
    var hint = '{{ hint }}';
    {% if hint %}
        window.onload = function () {
          hint_check = hint;
           $("#hint").click();
        };
    {% endif %}
    $(document).ready(function () {
        $("#change_user_img").click(function () {
            var user_img = $("input[name='user_img']").val();



            if (user_img == "") {
                hint_check = "请选择图片！";
                $("#hint").click();
                return;

            }


            $("form").submit();


        });
    });

</script>
<script type="text/javascript" src="../../../static/layui/layui.js"></script>

<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        {% comment %}//监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });{% endcomment %}
    });
</script>
<script type="text/javascript">
    layui.config({
        base: '../../static/js/util/'
    }).use(['element', 'laypage', 'form', 'menu'], function () {
        element = layui.element, laypage = layui.laypage, form = layui.form, menu = layui.menu;
        laypage.render({
            elem: 'demo'
            , count: 70 //数据总数，从服务端得到
        });
        menu.init();
        menu.off();
        menu.submit()
    })
</script>
<script>
    layui.use(['util', 'laydate', 'layer'], function () {
        var util = layui.util

            , layer = layui.layer;
        //固定块
        util.fixbar({
            bar1: false
            , bar2: '☺'
            //,bar2:'#icon-robot'
            , css: {right: 50, bottom: 100}
            , bgcolor: '#393D49'
            , click: function (type) {
                if (type === 'bar1') {
                    layer.msg('icon是可以随便换的')
                } else if (type === 'bar2') {
                    layer.msg('即将启动机器人...', {
                        time: 10000, //2s后自动关闭
                        btn: ['知道啦'],
                        btnAlign: 'c',
                        yes: function () {
                            $('#chat_bot').click();
                        }

                    });

                }
            }
        });
    });
</script>

<script>
    layui.use('layer', function () { //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {
            offset: function (othis) {
                var type = othis.data('type')
                    , text = hint_check;

                layer.open({
                    type: 1
                    , offset: type

                    , id: 'layerDemo' + type //防止重复弹出
                    , content: '<div style="padding: 20px 80px;">' + text + '</div>'
                    , btn: '确定'
                    , btnAlign: 'r' //按钮居右
                    , shade: 0 //不显示遮罩
                    , yes: function () {

                        layer.closeAll();
                    }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>

</body>
</html>