<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="../../../static/components/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../static/components/site.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/toast.css"/>
    <link rel="stylesheet" type="text/css" href="../../../static/components/container.css">
    <link rel="stylesheet" type="text/css" href="../../../static/components/grid.css">
    <link rel="stylesheet" type="text/css" href="../../../static/components/header.css">
    <link rel="stylesheet" type="text/css" href="../../../static/components/image.css">
    <link rel="stylesheet" type="text/css" href="../../../static/components/menu.css">

    <link rel="stylesheet" type="text/css" href="../../../static/components/divider.css">
    <link rel="stylesheet" type="text/css" href="../../../static/components/segment.css">
    <link rel="stylesheet" type="text/css" href="../../../static/components/form.css">
    <link rel="stylesheet" type="text/css" href="../../../static/components/input.css">
    <link rel="stylesheet" type="text/css" href="../../../static/components/button.css">
    <link rel="stylesheet" type="text/css" href="../../../static/components/list.css">
    <link rel="stylesheet" type="text/css" href="../../../static/components/message.css">
    <link rel="stylesheet" type="text/css" href="../../../static/components/icon.css">
    <link rel="shortcut icon" href="../../../static/images/logo_ico_128_128.ico" type="image/x-icon"/>

    <script src="../../../static/js/me.js"></script>
    <script src="../../../static/components/form.js"></script>
    <script src="../../../static/components/transition.js"></script>
{#    <script src="../../../static/js/jquery.js"></script>#}
    <script src="../../../static/js/jquery.validate.js"></script>
    <script src="../../../static/js/messages_zh.js"></script>
    <script type="text/javascript" src="../../../static/js/api.js"></script>
    <script type="text/javascript" src="../../../static/js/aui-toast.js"></script>
    <script src="../../../static/js/jquery-3.0.0.min.js"></script>
    <script src="../../../static/js/jquery-1.11.3.min.js"></script>


    <style type="text/css">
        body {
            /*background-color: #DADADA;*/
            background-image: url("../../../static/images/2019.jpg");
            background-size: 100% 100vh;
        }

        /*设置按钮点击后再次点击无效 针对发送验证码按钮*/
        .disable {
            pointer-events: none;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }

        #register {
            /*style="color: white" id="register"*/
            color: white;
            /*background-color:rgb(255,102,0) ;*/
            background-color: rgb(0, 150, 136);
        }

        #register:hover {
            /*color: rgb(53,189,178);*/
            /*background-color:rgb(255,153,0) ;*/
            background-color: rgb(51, 171, 179);
        }

        #send_code {
            /*style="color: white" id="register"*/
            color: white;
            /*background-color:rgb(255,102,0) ;*/
            background-color: rgb(35, 33, 28);
        }

        #send_code:hover {
            /*color: rgb(53,189,178);*/
            /*background-color:rgb(255,153,0) ;*/
            background-color: rgb(51, 171, 179);
        }

        #index_link_postion {
            width: 100%;
            height: 30px;
            /*background-color: #00a0e9;*/
            position: absolute;
            margin-top: 30px;
            padding-top: 5px;
            padding-left: 30px;

        }

        #index_page {
            color: white;
        }

        #index_page:hover {
            color: white;
            text-decoration: underline;
        }
    </style>
    <script>
        apiready = function () {
            api.parseTapmode();
        };

        var toast = new auiToast();
        function test() {
            {#            window.location.href = "login";#}
            $("#register_form").submit();
        }
        function showSuccess(type) {

            switch (type) {
                case "success":
                    toast.loading({
                        title: "正在注册...",
                        duration: 2000
                    }, function (ret) {
                        setTimeout(function () {
                            toast.hide();
                            test();
                        }, 2000)
                    });
                    break;
                default:

                    break;
            }

        }

        $(document).ready(function () {
            //禁用
            $.fn.disable = function () {
                $(this).addClass("disable");
            };

            //启用
            $.fn.enable = function () {
                $(this).removeClass("disable");
            };
            var valid_code = '{{ valid_code }}';
            var user_phone = '{{  user_phone  }}';
            if (user_phone != "") {
                send_btn();
            }
            console.log("valid_code is :", valid_code);
            $("#register").click(function () {

                var error_frame = $("#errorFrame");
                if (!no_info_behind()) {
                    error_frame.fadeIn();
                    error_frame.html("请将信息输入完整！");
                } else {
                    var email_val = $("#user_email").val();
                    var phone_val = $("#user_phone").val();
                    var password_val = $("#user_password").val();
                    var checkbox_val = $("#checkbox_btn");
                    var valid_code_number = $("#valid_code_number").val();


                    if (checkPhone(phone_val)) {
                        error_frame.fadeIn();
                        error_frame.html("手机号格式错误！");
                        return;
                    }
                    if (checkPassword(password_val)) {
                        error_frame.fadeIn();
                        error_frame.html("密码格式错误，请输入数字与字母组合长度为8-16位的密码！");
                        return;
                    }
                    if (checkEmail(email_val)) {
                        error_frame.fadeIn();
                        error_frame.html("邮箱格式错误！");
                        return;
                    }
                    //判断复选框是否选中
                    if (checkbox_val.is(":checked") == false) {
                        error_frame.fadeIn();
                        error_frame.html("您还未勾选服务协议");
                        return;
                    }
                    if (valid_code_number != valid_code) {
                        error_frame.fadeIn();
                        error_frame.html("验证码输入错误");
                        return;
                    }

                    showSuccess("success");
                }

            });
            $("#send_code").click(function () {


                var user_name = $("#user_name").val();
                var user_phone = $("#user_phone").val();
                var user_password = $("#user_password").val();
                var user_email = $("#user_email").val();
                var error_frame = $("#errorFrame");

                $("#hd_user_name").val(user_name);
                $("#hd_user_phone").val(user_phone);
                $("#hd_user_password").val(user_password);
                $("#hd_user_email").val(user_email);
                {#            console.log("result is:",user_phone);#}
                {#            window.location.href = "get_code?user_phone="+ user_phone;#}
                {# 判断手机号是否输入以及格式是否正确            #}
                if (user_phone != '' && !checkPhone(user_phone)) {
                    console.log("will submit the form");
                    $("#hd_form").submit();
                } else {
                    console.log("else result");
                    error_frame.fadeIn();
                    error_frame.html("手机号未输入或格式不正确！");
                }

            });
            $("input").click(function () {
                $("#errorFrame").fadeOut();
            });
        });
        /** 校验手机号*/
        /** 校验电话号码是否合法*/
        function checkPhone(val) {
            var ex = /^1[3|4|5|6|7|8|9][0-9]\d{4,8}$/;
            {#var ex = /^1[3|4|5|8][0-9]\d{4,8}$/;#}
            if (!ex.test(val)) {
                return true;//校验用户输入不合法返回true
            } else return false;
        }
        function checkPassword(val) {
            var ex = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z_]{8,16}$/;
            if (!ex.test(val))
                return true;
            return false;
        }
        /** 校验邮箱*/
        /** 校验Email格式是否合法*/
        function checkEmail(val) {
            var ex = /^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/;//判断是否符合邮箱格式
            if (!ex.test(val)) {
                return true;//校验用户输入不合法返回true
            } else return false;
        }

        //判断信息是否输入完整
        function no_info_behind() {
            var count = 0;
            var res = $("input[class='tem']").each(function () {
                if ($(this).val() == "") {
                    return false;
                } else {
                    count++;
                }
            });
            if (count == res.length)
                return true;
            return false;

        }
        function send_btn() {
            $("#send_code").disable();
            var count = 59;
            var t = setInterval(function () {
                var v = count + "s后重发";
                console.log(v);

                if (count < 1) {
                    $("#send_code").text("重新发送");
                    clearInterval(t);
                    {#                    $("#send_code").attr("disabled", false);#}
                    $("#send_code").enable();

                } else {
                    $("#send_code").text(v);
                }
                count = count - 1;
            }, 1000);
        }

    </script>
</head>
<body>
<div id="index_link_postion">
    <a href="index" id="index_page" style="color: rgb(0,150,136)">&lt;返回首页</a>


</div>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">

            <div class="content" style="color: rgb(0,150,136)">
                Register A Account
            </div>
        </h2>
        <form class="ui large form" action="register_process" method="post" id="register_form">
            <div class="ui stacked segment" style="background: black;opacity: 0.8">
                <div class="field">
                    <div>

                        <input type="text" name="user_name" id="user_name" placeholder="请输入用户名" class="tem"
                               value="{{ user_name }}">
                    </div>
                </div>
                <div class="field">
                    <div>

                        <input type="text" name="user_phone" id="user_phone" placeholder="请输入手机号"
                               value="{{ user_phone }}" class="tem"/>
                    </div>
                </div>
                <div class="field">

                    <div>

                        <input type="password" name="user_password" id="user_password" placeholder="请输入密码"
                               value="{{ user_password }}" class="tem"/>
                    </div>

                </div>
                <div class="field">

                    <div>

                        <input type="email" id="user_email" name="user_email" placeholder="请输入邮箱"
                               value="{{ user_email }}" class="tem"/>
                    </div>

                </div>
                <div class="field">

                    <div style="float: left">

                        <form>
                            <input type="email" id="valid_code_number" name="valid_code_number" placeholder="请输入验证码"
                                   class="tem"/> &nbsp;
                        </form>

                    </div>
                    <div style="float: right ">
                        <!--<input type="email" id="valid_code" name="valid_code" placeholder="请输入验证码"/>-->
                        <!--<div style="">-->
                        <!--<a href="#" style="vertical-align: middle">发送验证码</a>-->
                        <div class="ui fluid large teal submit button" style="font-weight: normal" id="send_code">
                            发送验证码
                        </div>
                        <!--</div>-->
                    </div>

                </div>

                <div class="field">

                    <div style="text-align: left">

                        <input type="checkbox" style="vertical-align: middle" id="checkbox_btn">
                        <small style="color: white">注册即代表同意<a href="website_service">《网站服务协议》</a><a
                                href="website_service">《隐私政策》</a></small>
                    </div>

                </div>
                <div class="ui fluid large teal submit button" id="register">注 册</div>
            </div>

            <div class="ui error message" style="display:none; background: black;opacity: 0.8;color: white"
                 id="errorFrame"></div>

        </form>


    </div>
</div>
<form action="get_code" method="POST" hidden="hidden" id="hd_form">
    <input type="text" id="hd_user_name" name="hd_user_name"/>
    <input type="text" id="hd_user_phone" name="hd_user_phone"/>
    <input type="password" id="hd_user_password" name="hd_user_password"/>
    <input type="text" id="hd_user_email" name="hd_user_email"/>
</form>

<div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;display: none;">
    <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal" id="hint">错误提示</button>
</div>
 <script type="text/javascript" src="../../../static/layui/layui.js"></script>
<script>
    var hint = "";
    window.onload = function () {
        {% ifequal register_failure "failure" %}

            hint = "注册失败，已有用户注册本手机号或邮箱！";
            $("#hint").click();



        {% endifequal %}
        {% ifequal register_success "success" %}

            hint = "注册成功，点击确定跳转至登录界面";
            $("#hint").click();



        {% endifequal %}
    };


</script>
<script>
    layui.use('layer', function () { //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {

            offset: function (othis) {
                var type = othis.data('type')
                    , text = hint;

                layer.open({
                    type: 1
                    , offset: type

                    , id: 'layerDemo' + type //防止重复弹出
                    , content: '<div style="padding: 20px 80px;">' + text + '</div>'
                    , btn: '确定'
                    , btnAlign: 'r' //按钮居右
                    , shade: 0 //不显示遮罩
                    , yes: function () {
                        if (text == "注册成功，点击确定跳转至登录界面") {
                            window.location.href = "login";
                        }
                        layer.closeAll();
                    }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>
<script>
    $(document).ready(function () {

    });
    function website_service() {
        alert("website_service");
        $("#internet_site_service").click();
    }
</script>
</body>
</html>
